<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.norah1to.simplenotification">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.EXPAND_STATUS_BAR" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service
            android:name=".Service.ActionNoticeIntentService"
            android:exported="false"></service>
        <service
            android:name=".Service.MakeTodoTileService"
            android:icon="@drawable/ic_done_grey_24dp"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>

        <activity
            android:name=".View.ChangePasswordActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".View.FinishTodosActivity" />
        <activity android:name=".View.UserCenterActivity" />
        <activity
            android:name=".View.RegisterActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".View.LoginActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".View.AboutActivity" />
        <activity android:name=".View.TagActivity" />
        <activity
            android:name=".View.MakeTodoActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".View.SettingsActivity"
            android:label="@string/title_activity_settings" />
        <activity android:name=".View.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".BroadcastReceiver.ActionDoneReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="norah1to.notification.done" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".BroadcastReceiver.ActionNoticeReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="norah1to.notification.notice" />
            </intent-filter>
        </receiver>
    </application>

</manifest>